<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        <h1>About Ronaldo</h1>
    </div>
    <div class="image-div">
        <img class="home-image" src="ronaldo-about.jpg" alt="not displaying">
    </div>
    <div class="body-text">
        <p>September 22, 1976, is a day that means a lot to Brazil, to Inter fans, and to the whole world of football: That’s the day when, in Rio de Janeiro, one of the best players ever was born – Ronaldo Luis Nazario de Lima, better known on the world football stage simply as Ronaldo. The first Ronaldo, and for many the only one.</p>
        <p>Ronaldo Luis Nazário de Lima was one of the greatest strikers ever. He started his career at Cruzeiro where he scored 12 goals in 14 appearances. He was part of the Brazilian 1994 FIFA World Cup selection that won the tournament, but he didn´t play. After the World Cup Ronaldo went to Holland to play for PSV were he scored 30 goals already in his first season. In 1997 "O Fenômeno" went to Barcelona where he scored 34 goals in 37 appearances, Ronaldo did amazing things during his Barcelona period, dribbling past defenders like they weren´t there and scoring goals at any moment. With four goals already at the tournament Ronaldo was on his way to win the 1998 World Cup with Brazil when an convulsive fit hindered him to win the final. After leaving Barcelona, Ronaldo joined Inter where he would stay until 2002, scoring 49 goals.</p>
        <p>At the 2002 World Cup Ronaldo took revenge for the lost final four years earlier by scoring two goals in the final against Germany and winning the tournament. In 2002 Ronaldo joined Madrid and helped them win the 2003 Spanish Championship. He scored a total of 83 goals at Madrid in 127 appearances. At the 2006 World Cup Ronaldo scored his 15th goal at a World Cup and became record holder of scoring goals at a World Cup. Brazil lost the quarter final of France with 1-0 at that tournament. After playing a short period with AC Milan he ended his career with Corinthians were he would win the Brazilian Cup with. On 7 June 2011 Ronaldo played one last farewell match with Brazil, he played 15 minutes and then left the field after a standing ovation. Ronaldo became three times FIFA World Player of the Year, in 1996, 1997 and 2002. He did incredible things with the ball, dribbling with enormous speed past defenders, scoring whenever he wanted. He remains one the greatest strikers ever.</p>
    </div>
    <div class="link-div">
        <ul class="link-ul">
            <li><a href="/home">Home</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </div>
</body>
</html>